<footer>
    <div class="footer-inside">
        <nav class="main-nav shoes clearfix">
            @Html.Partial("main-nav")
            <a class="button button-black" href="http://imposters.cias.rit.edu">View Our Project Blog</a>
        </nav>
        <div class="feedback clearfix">
            <a class="button button-black rfloat" href="#" target="_blank">Leave us Feedback</a>
            <span class="copyright">&copy; Lochness Imposters 2012</span>
        </div>
    </div>
</footer>