@{
    string page = ViewBag.Page == null ? "gallery" : ViewBag.Page;
    string current = "active";
}
<ul>
    <li>@Html.ActionLink("The Gallery", "Index", "Home", null, new { @class = page == "gallery" ? current : "" })</li>
    <li>@Html.ActionLink("The Team", "Index", "Team", null, new { @class = page == "team" ? current : "" })</li>
    <li>@Html.ActionLink("The Idea", "Index", "Idea", null, new { @class = page == "idea" ? current : "" })</li>
</ul>