<ul>
    <li>
        <a href="/" class="active">The Gallery</a>
    </li>
    <li>
        <a href="/team">The Team</a>
    </li>
    <li>
        <a href="/idea">The Idea</a>
    </li>
    <li>
        <a href="http://imposters.cias.rit.edu/the-blog">The Blog</a>
    </li>
</ul>